<template>
  <div class="container">
    <div class="grp-header">
      <h1>To do List</h1>
      <div class="input-container">
        <input type="text" class="input-group" v-model="inputTodo" />
        <button @click="addTodo" class="btn-success btn">Add</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Tasks</th>
          <th>Status</th>
          <th>Date Created</th>
          <th>Date Updated</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(todo, index) in todoList" :key="todo.id">
          <td>
            <div v-if="!isEditing[index] || editedTasks[index].id !== todo.id">
              {{ todo.task }}
            </div>
            <div v-else>
              <input
                type="text"
                v-model="editedTasks[index].task"
                placeholder="Task name"
              />
            </div>
          </td>
          <td>
            <div v-if="!isEditing[index] || editedTasks[index].id !== todo.id">
              {{ todo.status }}
            </div>
            <div v-else>
              <input
                type="text"
                v-model="editedTasks[index].status"
                placeholder="Status"
              />
            </div>
          </td>
          <td>{{ cnv_date_time(todo.created_at) }}</td>
          <td>{{ cnv_date_time(todo.updated_at) }}</td>
          <td>
            <div v-if="!isEditing[index] || editedTasks[index].id !== todo.id">
              <button class="btn-success" @click="setEditTodo(index)">
                Edit
              </button>
              <button class="btn-danger" @click="deleteTodo(todo.id)">
                Delete
              </button>
            </div>
            <div v-else>
              <button class="btn-info" @click="editTodo(index, todo.id)">
                Save
              </button>
              <button @click="cancelEditTodo(index)">Cancel</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
const be_url = `http://127.0.0.1:8000/api`;
export default {
  name: "TodoList",
  data() {
    return {
      inputTodo: "",
      todoList: [],
      isEditing: [],
      editedTasks: [],
    };
  },
  created() {
    this.getTodoData();
  },
  methods: {
    cnv_date_time(dateTime) {
      return moment(dateTime).format("MMM DD YYYY, h:mm a");
    },
    getTodoData() {
      axios
        .get(`${be_url}/todo_list`)
        .then(({ data }) => {
          this.todoList = data.todo;
        })
        .catch((error) => {
          console.error("Error GET API:", error);
        });
    },
    addTodo() {
      const newTodoData = {
        task: this.inputTodo,
        status: "Pending",
      };
      if (this.inputTodo === "") {
        return alert("Please enter a task!");
      }
      if (window.confirm("Are you sure you want to add this task?")) {
        axios
          .post(`${be_url}/todo_list`, newTodoData)
          .then(({ data }) => {
            // alert(data.messages);
            this.getTodoData();
            this.inputTodo = "";
          })
          .catch((error) => {
            console.error("Error ADD API:", error);
          });
      }
    },
    setEditTodo(index) {
      this.isEditing[index] = true;
      this.editedTasks[index] = { ...this.todoList[index] };
    },
    editTodo(index, id) {
      if (window.confirm("Are you sure you want to update this task?")) {
        const updatedData = { ...this.editedTasks[index] };
        axios
          .put(`${be_url}/todo_list/update/${id}`, updatedData)
          .then(({ data }) => {
            // alert(data.messages);
            this.getTodoData();
            this.isEditing[index] = false;
          })
          .catch((error) => {
            alert(error.response.data.messages);
            console.error("Error:", error);
          });
      }
    },
    cancelEditTodo(index) {
      this.isEditing[index] = false;
      this.editedTasks[index] = {};
    },
    deleteTodo(id) {
      if (window.confirm("Are you sure you want to delete this task?")) {
        axios
          .put(`${be_url}/todo_list/delete/${id}`)
          .then(({ data }) => {
            // alert(data.messages);
            this.getTodoData();
          })
          .catch((error) => {
            console.error("Error Delete API:", error);
          });
      }
    },
  },
  components: {},
};
</script>

<style scoped>
.grp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-container {
  display: flex;
  align-items: center;
}
table {
  margin-top: 20px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Custom styles for btn-success */
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #138496;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #c82333;
}

/* Base table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Responsive table styles */
@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
}
</style>
